{% load i18n %}
{% load static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type=image/png href="{% static 'diptv.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if redirect_url %}
      <meta http-equiv="refresh" content="{{ redirect_time }}; url={{ redirect_url }}"/>
    {% endif %}
    <title>{% block title %}{% trans "DipTV - Diplomacy Tournament Visualiser" %}{% endblock title %}</title>
    
    {% comment %}
    readonly-look is to make the rounds_played count,
    from PlayerRoundForm in forms.py, now formatted as text,
    not look editable

    TODO: everything inside this block extra_header
          should really be in templates/rounds/board_call.html,
          but when I tried to do a {% block %}{% endblock %} in
          this file and then put everything in <style></style>
          it didn't work and I'm not sure why.

          in the meantime, these will only affect form fields
          where they are explicitly set as an attribute. 
    {% endcomment %}
    <style>
    .readonly-look:disabled {
        border: none !important;
        background: transparent !important;
        padding-left: 0 !important;
        color: inherit !important;
        text-align: center !important;
    }
    .center-checkbox {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
   </style>
</head>

{% block style %}{% endblock style %}

<body>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div id="content">
    {% block content %}{% endblock content %}
  </div>
  <div id="footer">
    {% block footer %}<p>{% if not request.user.is_authenticated %}<a href="{% url 'login' %}?next={{ request.get_full_path }}">{% trans "login" %}</a>{% trans " Retrieved at " %}{% else %}{% blocktrans with user=request.user %}Retrieved by {{ user }} at {% endblocktrans %}{% endif %}{% now "SHORT_DATETIME_FORMAT" %}</p>{% endblock footer %}
  </div>
</body>

{% block script %}{% endblock script %}

</html>
