{% load i18n %}
{% load static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type=image/png href="{% static 'diptv.png' %}">
    {% if redirect_url %}
      <meta http-equiv="refresh" content="{{ redirect_time }}; url={{ redirect_url }}"/>
    {% endif %}
    <title>{% block title %}{% trans "DipTV - Diplomacy Tournament Visualiser" %}{% endblock %}</title>
</head>

{% block style %}{% endblock %}

<body>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <div id="footer">
    {% block footer %}<p>{% if not request.user.is_authenticated %}<a href="{% url 'login' %}?next={{ request.get_full_path }}">{% trans "login" %}</a>{% trans " Retrieved at " %}{% else %}{% blocktrans with user=request.user %}Retrieved by {{ user }} at {% endblocktrans %}{% endif %}{% now "SHORT_DATETIME_FORMAT" %}</p>{% endblock %}
  </div>
</body>

{% block script %}{% endblock %}

</html>
