{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    {% if redirect_url %}
    <meta http-equiv="refresh" content="{{ redirect_time }}; url={{ redirect_url }}"/>
    {% endif %}
    <title>{% block title %}{% trans "DipTV - Diplomacy Tournament Visualiser" %}{% endblock %}</title>
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}{% trans "Retrieved at " %}{% now "SHORT_DATETIME_FORMAT" %}{% endblock %}
    </div>
</body>
</html>
