{% extends "base.html" %}
{% load i18n %}
{% load admin_urls %}

{% block title %}{% trans "DipTV" %} - {{ tournament }} {% trans "Player Power Auction Bids" %}{% endblock %}

{% block style %}
<style>
  div.changeParent {
    padding: 1px;
  }

  div.changeChild {
    display: inline-block;
    vertical-align: middle;
  }

  div.changeChildTotal {
    /* margin: 20px 0px 20px 0px; */
    text-align: center;
    width: 320px;
  }

  div.changeChildButtons {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
  }

  .totalText {
    font-size: x-large;
    font-weight: bold;
  }

  .validationInfo {
    margin-top: 10px;
    color: red;
  }
</style>
{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% trans "Player Power Auction Bids" %}</h1>

<h2>{% blocktrans with num=round_num %} Current Bids for round {{ num }} {% endblocktrans %}</h2>

<dl>
{% for bid in player.powerbid_set.all %}
  {% if bid.the_round.number == round_num %}
    <dt>{{ bid.power }}</dt>
    <dd>{{ bid.bid }}</dd>
  {% endif %}
{% empty %}
  <li>{% trans "No current bids" %}</li>
{% endfor %}
</dl>

<h2>{% blocktrans with num=round_num %} Change Bids for round {{ num }} {% endblocktrans %}</h2>
  <div class='changeParent'>
    <div class='changeChild'>
      <form method="post" action={% url 'auction_bids' tournament.id uuid %}>
        {% csrf_token %}
        <table class="form">
          {{ form.as_table }}
        </table>
        <input type="submit" value="{% trans "Submit" %}" />
      </form>
    </div>
    <div class='changeChild changeChildTotal'>
      <div class='totalText'>
        Total:
        <br>
        <span class="helptext" id="id_Total"></span>
      </div>
      <div id='id_ValidationInfo' class='validationInfo'>come here</div>
      <div class='changeChildButtons'>
        <button onclick="MakeRandom()">Make Random</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
i<script id='Base classes'>

  class PowerBidConfiguration {

    constructor(pPowerNames, pBoardCount, pMinimumIndividualBid, pMaximumIndividualBid, pMaximumTotal, pIdenticalBidsProhibited, pMustUseAllPoints) {
      this._PowerNames = pPowerNames;
      this._BoardCount = pBoardCount;
      this._MinimumIndividualBid = pMinimumIndividualBid;
      this._MaximumIndividualBid = pMaximumIndividualBid;
      this._MaximumTotal = pMaximumTotal;
      this._IdenticalBidsProhibited = pIdenticalBidsProhibited;
      this._MustUseAllPoints = pMustUseAllPoints;
    }

    _PowerNames;
    get PowerNames() { return this._PowerNames }

    _BoardCount;
    get BoardCount() { return this._BoardCount }

    _MinimumIndividualBid;
    get MinimumIndividualBid() { return this._MinimumIndividualBid }

    _MaximumIndividualBid;
    get MaximumIndividualBid() { return this._MaximumIndividualBid }

    _MaximumTotal;
    get MaximumTotal() { return this._MaximumTotal }

    _IdenticalBidsProhibited;
    get IdenticalBidsProhibited() { return this._IdenticalBidsProhibited }

    _MustUseAllPoints;
    get MustUseAllPoints() { return this._MustUseAllPoints }

    MakeNewBidSet() {
      return new BidSet(this);
    }

    MakeNewAuction(pBidsets) {
      return new Auction(this, pBidsets)
    }
    GetAllBoardNumbers() {
      var ret = [];
      for (let iBoard = 0; iBoard < this.BoardCount; iBoard++) ret.push(iBoard + 1);
      return ret;
    }

    GetAllSeeds() {
      var ret = [];
      this.GetAllBoardNumbers().forEach(iBoard => {
        this.PowerNames.forEach((powername, iPower) => {
          ret.push((iBoard - 1) * this.PowerNames.length + iPower + 1)
        });
      });
      return ret;
    }

  }

  class BidSet {

    constructor(pConfiguration) {
      this._config = pConfiguration;
      this.ClearBids();
    }

    _config;

    _Bids = {};
    get Bids() { return this._Bids; }

    get Total() {
      var ret = 0;
      this._config.PowerNames.forEach(x => ret += this.Bids[x]);
      return ret;
    }

    ClearBids() {
      this._config.PowerNames.forEach(x => this._Bids[x] = 0);
    }

    MakeRandom() {
      this.ClearBids();

      var options = [];
      for (let i = this._config.MinimumIndividualBid; i < this._config.MaximumIndividualBid + 1; i++) options.push(i);

      var toselect = this._config.PowerNames.slice(); //make a copy

      while (toselect.length > 0) {
        var iPower = Math.floor(Math.random() * toselect.length);
        var selectedPower = toselect[iPower];
        toselect.splice(iPower, 1);

        var selectedBid = options[Math.floor(Math.random() * options.length)];
        if (toselect.length == 1) selectedBid = options[options.length - 1];

        this._Bids[selectedPower] = selectedBid;

        var tot = this.Total;

        var minrest = 0;
        for (let j = 0; j < toselect.length - 1; j++) minrest += options[j];

        options = options.filter(x => (x < this._config.MaximumTotal - tot - minrest) && !(this._config.IdenticalBidsProhibited && x == selectedBid));
      }

    }

    _LastValidationMessages = "";
    get LastValidationMessages() { return this._LastValidationMessages };

    ValidateAndGetMessages() {
      this.Validate();
      return this.LastValidationMessages;
    }

    Validate() {
      var tot = 0;

      var s = '';

      var powersByBidSize = [];

      this._config.PowerNames.forEach(powername => {
        var val = this.Bids[powername];
        if (isNaN(val)) {
          s += powername + ' is not a number.<br>';
        } else {
          val = Number(val);
          if (!Array.isArray(powersByBidSize[val])) powersByBidSize[val] = [];
          powersByBidSize[val].push(powername);
          tot += val;
          if (val < this._config.MinimumIndividualBid) s += powername + ' is below the minimum (' + this._config.MinimumIndividualBid + ').<br>';
          if (val > this._config.MaximumIndividualBid) s += powername + ' is above the maximum (' + this._config.MaximumIndividualBid + ').<br>';
        }
      });

      if (this._config.IdenticalBidsProhibited) {
        powersByBidSize.forEach(powers => {
          if (powers.length > 1) {
            var sPowers = '';
            for (let i = 0; i < powers.length; i++) {
              const pp = powers[i];
              if (i > 0 && !(powers.length == 2 && i == 1)) sPowers += ",";
              if (i == powers.length - 1) sPowers += " and";
              sPowers += " " + pp;
            }
            s += sPowers + ' have identical bids.<br>';
          }

        });
      }

      if (this._config.MustUseAllPoints && tot != this._config.MaximumTotal) s += 'The total must equal ' + this._config.MaximumTotal + '.<br>';
      if (tot > this._config.MaximumTotal) s += 'The total is above the maximum (' + this._config.MaximumTotal + ').<br>';

      this._LastValidationMessages = s;

      return s == '';
    };

  }

  class PlayerProfile {
    _Seed;
    get Seed() { return this._Seed }
    set Seed(value) { this._Seed = value }

    _BidSet;
    get BidSet() { return this._BidSet }
    set BidSet(value) { this._BidSet = value }

    _BoardAssignment;
    get BoardAssignment() { return this._BoardAssignment }
    set BoardAssignment(value) { this._BoardAssignment = value }

    _PowerAssignment;
    get PowerAssignment() { return this._PowerAssignment }
    set PowerAssignment(value) { this._PowerAssignment = value }
  }

</script>

<script>

  var mPowerNames = ["Austria-Hungary", "England", "France", "Germany", "Italy", "Russia", "Turkey"];
  var mBoardCount = 2;

  var mMaxTotal = {{ bid_total }};
  var mMustUseAllPoints = false;
  var mMaxBid = {{ max_bid }};
  var mMinBid = {{ min_bid }};
  var mNoIdenticalBids = true;

  var mConfiguration = new PowerBidConfiguration(mPowerNames, mBoardCount, mMinBid, mMaxBid, mMaxTotal, mNoIdenticalBids, mMustUseAllPoints);

  function GetInputs() {
    var ret = {};
    mConfiguration.PowerNames.forEach(powername => ret[powername] = document.getElementById("id_" + powername));
    return ret;
  }

  function ValidateAndUpdateDisplay() {

    var bidset = mConfiguration.MakeNewBidSet();

    var inps = GetInputs();
    Object.keys(inps).forEach(powername => {
      bidset.Bids[powername] = Number(inps[powername].value);
    });

    var s = bidset.ValidateAndGetMessages();

    document.getElementById("id_Total").innerHTML = bidset.Total;
    document.getElementById('id_ValidationInfo').innerHTML = s;
  };

  function MakeRandom() {

    var bidset = mConfiguration.MakeNewBidSet();
    bidset.MakeRandom();

    var inps = GetInputs();
    Object.keys(inps).forEach(powername => {
      inps[powername].value = bidset.Bids[powername];
    });

    ValidateAndUpdateDisplay();
  }

  function SinkEvents() {
    var inps = GetInputs();
    Object.keys(inps).forEach(powername => {
      inps[powername].addEventListener('input', (event) => {
        ValidateAndUpdateDisplay();
        return false;
      });
    });
  }

  ValidateAndUpdateDisplay();
  SinkEvents();

</script>

{% endblock %}
