{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }} Awards{% endblocktrans %}{% endblock title %}

{% block content %}
<h1>{% blocktrans with tournament=tournament %}{{ tournament }} Awards{% endblocktrans %}</h1>
<form method="post" action={% url 'enter_awards' tournament.id %}>
  {% csrf_token %}
  {% for tournament_award, formset in award_formsets %}
    <h2>{{ tournament_award.award }}</h2>
    <p>{{ tournament_award.award.description }}</p>
    {{ formset.management_form }}
    {{ formset.non_form_errors.as_ul }}
    <table class="form">
      <thead><tr>
        {% for field in formset.empty_form.visible_fields %}
          <th>{{ field.label }}</th>
        {% endfor %}
      </tr></thead>
      <tbody>
        {% for form in formset.forms %}
          <tr>
            {{ form.non_field_errors }}
            {% for hidden in form.hidden_fields %}
              {{ hidden.errors.as_ul }}
              {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
              <td>
                {{ field.errors.as_ul }}
                {{ field }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
  <input type="submit" value={% trans "Submit" %} />
</form>
{% endblock content %}
