{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }} Awards{% endblocktrans %}{% endblock title %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% trans "Awards" %}</h1>
{% if numbered_list %}
  <ol>
    {% for a in tournament.non_power_awards %}
      <li>{{ a }}</li>
    {% endfor %}
  </ol>
{% else %}
<dl>
  {% if tournament.is_finished %}
    {% for tp in tournament.tournamentplayer_set.all %}
      {% if tp.awardrecipient_set.count %}
        <dt><a href="{{ tp.get_absolute_url }}">{{ tp.player }}</a></dt>
          {% for ar in tp.awardrecipient_set.all %}
            <dd>{{ ar.tournament_award.award }}{% if ar.game %} ({{ ar.game }}){% endif %}{% if ar.is_shared %} {% trans "(shared)" %}{% endif %}</dd>
          {% endfor %}
        {% endif %}
    {% empty %}
      {% trans "No players" %}
    {% endfor %}
  {% else %}
    {% for tournament_award in tournament.tournamentaward_set.all %}
      <dt>{{ tournament_award.award }}</dt>
      <dd>{{ tournament_award.award.description }}</dd>
    {% endfor %}
  {% endif %}
</dl>
{% endif %}
{% endblock content %}
