{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }} Best Countries{% endblocktrans %}{% endblock title %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% trans "Best Countries" %}</h1>
<table class="form">
  <thead><tr>
    {% for sp in powers %}
      <th style="background-color:{{ sp.colour }};">{% trans sp.power.name %}</th>
    {% endfor %}
  </tr></thead>
  <tbody>
  {% for row in rows %}
    <tr class="{% cycle 'odd_row' 'even_row' %}">
      {% for gps in row %}
        <td style="text-align:right;">
          {% for gp in gps %}
            <a href="{{ gp.tournamentplayer.get_absolute_url }}">{{ gp.player }}</a><br>
            <a href="{{ gp.game.get_absolute_url }}">{{ gp.game.name }}</a><br>
            {% if not gp.score_is_final %}
              <i>
            {% endif %}
              {{ gp.score|floatformat:2 }}{% if gp.tournamentplayer.unranked %}*{% endif %}
            {% if not gp.score_is_final %}
              </i>
            {% endif %}
            <br>
            {% if not gp.game.is_finished %}
              <i>
            {% endif %}
              {% blocktrans count dots=gp.final_sc_count %}1 centre{% plural %}{{ dots }} centres{% endblocktrans %}
            {% if not gp.game.is_finished %}
              </i>
            {% endif %}
            {% if not forloop.last %}<br>{% endif %}
          {% endfor %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
<p>* - {% trans "unranked" %}</p>
{% endblock content %}
