{% extends "base.html" %}
{% load i18n %}

{% block title %}i{% blocktrans with tournament=tournament %}DipTV - {{ tournament }}{% endblocktrans %}{% endblock %}

{% block content %}
<h1>{{ tournament }}</h1>
<p>{% trans "Views:" %}</p>
<ul>
  <li><a href="{% url 'tournament_scores' tournament.id %}">{% trans "Current Standings" %}</a></li>
  <li><a href="{% url 'tournament_news' tournament.id %}">{% trans "News" %}</a></li>
  <li><a href="{% url 'tournament_background' tournament.id %}">{% trans "Background" %}</a></li>
  <li><a href="{% url 'tournament_round' tournament.id %}">{% trans "Current Round" %}</a></li>
  <li><a href="{% url 'round_index' tournament.id %}">{% trans "Round Index" %}</a></li>
</ul>
{% if user.is_active %}
  <p>{% trans "Data Entry:" %}</p>
  <ul>
    {% if perms.tournament.change_roundplayer %}
      <li><a href="{% url 'enter_scores' tournament.id %}">{% trans "Enter Scores" %}</a></li>
    {% endif %}
    {% if perms.tournament.add_roundplayer %}
      <li><a href="{% url 'roll_call' tournament.id %}">{% trans "Roll Call" %}</a></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
