{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }}{% endblocktrans %}{% endblock title %}

{% block content %}
<h1>{{ tournament }}</h1>

<p>{{ tournament.start_date }} - {{tournament.end_date }}</p>

{% if tournament.wdd_tournament_id %}
  <p><a href="{{ tournament.wdd_url }}">{% trans "View on WDD" %}</a></p>
{% endif %}

{% if tournament.series_set.exists %}
  <p>{% trans "Part of the following series:" %}</p>
  <ul>
    {% for series in tournament.series_set.all %}
      <li><a href="{{ series.get_absolute_url }}">{{ series }}</a></li>
    {% endfor %}
  </ul>
{% endif %}

<p><a href="{% url 'tournament_players' tournament.id %}">{{ tournament.tournamentplayer_set.count }}{% trans " players registered." %}</a></p>
<p>{% trans "Format: " %}{% if tournament.is_virtual %}{% trans "Virtual Face-to-face" %}{% else %}{% trans "Face-to-face" %}{% endif %}</p>
<p>{% trans "Tournament scoring: " %}{{ tournament.tournament_scoring_system_obj }}{% if tournament.handicaps %}{% trans ", with handicaps" %}{% endif %}</p>
{% if tournament.round_scoring_system_obj %}
  <p>{% trans "Round scoring: " %}{{ tournament.round_scoring_system_obj }}</p>
{% endif %}
{% if tournament.draw_secrecy == "C" %}
  <p>{% trans "Counts of votes in favour of and against draws are revealed." %}</p>
{% endif %}
{% if tournament.location %}<p>{% trans "Location: " %}{{ tournament.location }}</p>{% endif %}

<p>{% blocktrans count count=tournament.round_set.count %}1 Round{% plural %}{{ count }} Rounds{% endblocktrans %}:</p>
<dl>
  {% for r in tournament.round_set.all %}
    <dt><a href="{{ r.get_absolute_url }}">{% blocktrans with round=r.number %}Round {{ round }}{% endblocktrans %}</a></dt>
    <dd>{% blocktrans count count=r.game_set.count %}{{ count }} Game.{% plural %}{{ count }} Games.{% endblocktrans %}{% if r.is_finished %}{% trans " Completed." %}{% endif %}</dd>
   {% endfor %}
</dl>

<p>{% blocktrans count count=tournament.game_set.count %}1 Game in total{% plural %}{{ count }} Games in total{% endblocktrans %}</p>
<p>{% trans "Diplomacy Broadcast Network coverage:" %}</p>
<ul>
  {% for dbn in tournament.dbncoverage_set.all %}
    <li><a href="{{ dbn.dbn_url }}">{% trans dbn.description %}</a></li>
  {% empty %}
    <li>{% trans "None" %}</li>
  {% endfor %}
</ul>

<br>
<p>{% trans "Views:" %}</p>
<ul>
  {% if tournament.is_finished %}
    <li><a href="{% url 'tournament_scores' tournament.id %}">{% trans "Final Standings" %}</a></li>
  {% else %}
    <li><a href="{% url 'framesets' tournament.id %}">{% trans "Multi-frame view" %}</a></li>
    <li><a href="{% url 'tournament_scores' tournament.id %}">{% trans "Current Standings" %}</a></li>
  {% endif %}
  <li><a href="{% url 'tournament_awards' tournament.id %}">{% trans "Awards" %}</a></li>
  <li><a href="{% url 'tournament_best_countries' tournament.id %}">{% trans "Best Countries" %}</a></li>
  <li><a href="{% url 'tournament_game_results' tournament.id %}">{% trans "Game Summary" %}</a></li>
  <li><a href="{% url 'tournament_news' tournament.id %}">{% trans "News" %}</a></li>
  <li><a href="{% url 'tournament_background' tournament.id %}">{% trans "Background" %}</a></li>
  {% if not tournament.is_finished %}
      <li><a href="{% url 'tournament_round' tournament.id %}">{% trans "Current Round" %}</a> ({% if tournament.current_round.game_set.exists %}{% blocktrans count count=tournament.current_round.game_set.count %}One game{% plural %}{{ count }} games{% endblocktrans %}{% else %}{% trans "No games" %}{% endif %})</li>
  {% endif %}
  <li><a href="{% url 'round_index' tournament.id %}">{% trans "Round Index" %}</a></li>
  {% if tournament.show_game_urls %}
    <li><a href="{% url 'tournament_game_links' tournament.id %}">{% trans "Links to all game sandboxes on Backstabbr" %}</a></li>
  {% endif %}
</ul>
{% if tournament.is_finished %}
  <p>{% trans "Information for adding the tournament to the World Diplomacy Database:" %}</p>
  <ul>
    <li><a href="{% url 'csv_classification' tournament.id %}">{% trans "Classification CSV file" %}</a></li>
    <li><a href="{% url 'csv_boards' tournament.id %}">{% trans "Boards CSV file" %}</a></li>
    <li><a href="{% url 'tournament_wdd_awards' tournament.id %}">{% trans "Award numbering" %}</a></li>
  </ul>
{% endif %}
{% if user.is_active and tournament.editable %}
  <p>{% trans "Data Entry:" %}</p>
  <ul>
    {% if perms.tournament.change_tournamentplayer %}
      {% if tournament.handicaps %}
        <li><a href="{% url 'enter_handicaps' tournament.id %}">{% trans "Enter Handicaps" %}</a></li>
      {% endif %}
      <li><a href="{% url 'enter_awards' tournament.id %}">{% trans "Enter Awards" %}</a></li>
    {% endif %}
    {% if perms.tournament.add_seederbias %}
      <li><a href="{% url 'seeder_bias' tournament.id %}">{% trans "Add bias to the game seeder" %}</a> - {% trans "Use this if you have people playing in the tournament you want to keep apart (e.g. family members)." %}</li>
    {% endif %}
    {% if perms.tournament.add_preference %}
      {% if tournament.powers_assigned_from_prefs %}
        <li><a href="{% url 'upload_prefs' tournament.id %}">{% trans "Upload preferences CSV" %}</a> - {% trans "Use this to upload a CSV file listing player country preferences." %}</li>
        <li><a href="{% url 'prefs_csv' tournament.id %}">{% trans "Download preferences CSV" %}</a> - {% trans "Use this to download a sample CSV file listing player country preferences." %}</li>
        <li><a href="{% url 'enter_prefs' tournament.id %}">{% trans "Enter player preferences" %}</a> - {% trans "Use this to enter player country preferences using a form." %}</li>
      {% endif %}
    {% endif %}
    {% if perms.tournament.change_roundplayer %}
      <li><a href="{% url 'enter_scores' tournament.id %}">{% trans "Enter Scores" %}</a> - {% trans "Use this if you need to modify the players' round and/or tournament scores." %}</li>
    {% endif %}
    {% if perms.tournament.add_gameimage %}
      <li><a href="{% url 'add_game_image' tournament.id %}">{% trans "Upload Game Image" %}</a> - {% trans "Use this to add a picture of a game in progress." %}</li>
    {% endif %}
  </ul>
{% endif %}
<p><a href="https://raw.githubusercontent.com/UEWBot/dipvis/master/TD_USER_GUIDE">{% trans "Tournament Director's User Guide" %}</a></p>
{% endblock content %}
