{% extends "base.html" %}
{% load i18n %}

{% block title %}i{% blocktrans with tournament=tournament %}DipTV - {{ tournament }}{% endblocktrans %}{% endblock %}

{% block content %}
<h1>{{ tournament }}</h1>

<p>{{ tournament.start_date }} - {{tournament.end_date }}</p>

<p>{% blocktrans with count=tournament.round_set.count %}{{ count }} Rounds{% endblocktrans %}</p>

<p>{% trans "Views:" %}</p>
<ul>
  <li><a href="{% url 'tournament_scores' tournament.id %}">{% trans "Current Standings" %}</a></li>
  <li><a href="{% url 'tournament_news' tournament.id %}">{% trans "News" %}</a></li>
  <li><a href="{% url 'tournament_background' tournament.id %}">{% trans "Background" %}</a></li>
  <li><a href="{% url 'tournament_round' tournament.id %}">{% trans "Current Round" %}</a></li>
  <li><a href="{% url 'round_index' tournament.id %}">{% trans "Round Index" %}</a></li>
</ul>
{% if user.is_active %}
  <p>{% trans "Data Entry:" %}</p>
  <ul>
    {% if perms.tournament.add_roundplayer %}
      <li><a href="{% url 'roll_call' tournament.id %}">{% trans "Roll Call" %}</a> - {% trans "Use this to specify which of the players at the tournament are actually playing in each round." %}</li>
    {% endif %}
    {% if perms.tournament.change_roundplayer %}
      <li><a href="{% url 'enter_scores' tournament.id %}">{% trans "Enter Scores" %}</a> - {% trans "Use this if you need to modify the scores that the system calculates when games end." %}</li>
    {% endif %}
    {% if perms.tournament.add_gameimage %}
      <li><a href="{% url 'add_game_image' tournament.id %}">{% trans "Upload Game Image" %}</a> - {% trans "Use this to add a picture of a game in progress." %}</li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
