{% extends "tournaments/iframe_layout.html" %}
{% load i18n %}

{% block layout_class %}layout-2-games{% endblock layout_class %}

{% block tournament_views %}
  <iframe src="{% url 'tournament_views' tournament.id %}" title="{% trans 'Tournament view 1' %}"></iframe>
  <iframe src="{% url 'tournament_views' tournament.id %}" title="{% trans 'Tournament view 2' %}"></iframe>
  <iframe src="{% url 'tournament_views' tournament.id %}" title="{% trans 'Tournament view 3' %}"></iframe>
{% endblock tournament_views %}
