{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "DipTV - Frame Picker" %}{% endblock %}

{% block content %}
{% trans "Pick a screen layout:" %}
<ul>
  <li><a href="{% url 'frameset_3x3' tournament.id %}">
    <table border="1">
      <tr><td>fr1</td><td>fr2</td><td>fr3</td></tr>
      <tr><td>fr4</td><td>fr5</td><td>fr6</td></tr>
      <tr><td>fr7</td><td>fr8</td><td>fr9</td></tr>
    </table></a>
  </li>
  <li><a href="{% url 'frameset_top_board' tournament.id %}">
    <table border="1">
      <tr><td rowspan="2" colspan="2">fr1</td><td>fr2</td></tr>
      <tr><td>fr3</td></tr>
      <tr><td>fr4</td><td>fr5</td><td>fr6</td></tr>
    </table></a>
  </li>
  <li><a href="{% url 'frameset_3_games' tournament.id %}">
    <table border="1">
      <tr><td rowspan="3">fr1</td><td>fr2</td></tr>
      <tr><td>fr3</td></tr>
      <tr><td>fr4</td></tr>
    </table></a>
  </li>
  <li><a href="{% url 'frameset_2x2' tournament.id %}">
    <table border="1">
      <tr><td>fr1</td><td>fr2</td></tr>
      <tr><td>fr3</td><td>fr4</td></tr>
    </table></a>
  </li>
  <li><a href="{% url 'frameset_1x1' tournament.id %}">
    <table border="1">
      <tr><td>fr1</td>
    </table></a>
  </li>
</ul>
<p>{% trans "All views also have a news ticker across the bottom. You can choose any URL in each frame. Most will auto-refresh." %}</p>
{% endblock %}
