{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }} Game Sandox Links{% endblocktrans %}{% endblock title %}

{% block content %}
<dl>
  {% for r in tournament.round_set.all %}
    <dt>{% blocktrans with round=r.number %}Round {{ round }}{% endblocktrans %}</dt>
    <dd><ul>
      {% for g in r.game_set.all %}
        {% if g.external_url %}
          <li><a href={{ g.external_url }}>{{ g.name }}</a></li>
        {% else %}
          <li>{{ g.name }} - {% trans "No sandbox link" %}</li>
        {% endif %}
      {% endfor %}
    </ul></dd>
  {% endfor %}
</dl>

{% endblock content %}
