{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }} Scores{% endblocktrans %}{% endblock %}

{% block content %}
{% if tournament.is_finished %}
  <h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% trans "Final Scores" %}</h1>
{% else %}
  <h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% trans "Current Scores" %}</h1>
{% endif %}

<table class="form">
  <thead><tr>
    <th>{% trans "Position" %}</th>
    <th>{% trans "Player" %}</th>
    {% for r in rounds %}
      <th><a href="{% url 'round_detail' tournament.id r.number %}">{% blocktrans with round=r.number %}Round {{ round }}{% endblocktrans %}</a></th>
    {% endfor %}
    <th>{% trans "Tournament" %}</th>
  </tr></thead>
  <tbody>
    {% for p_data in scores %}
      <tr class="{% cycle 'odd_row' 'even_row' %}">
        <td style="text-align:right">{{ p_data.rank }}</td>
        <td style="text-align:right"><a href="{{ p_data.player.get_absolute_url }}">{{ p_data.player.player }}</a></td>
        {% for rp in p_data.rounds %}
          <td style="text-align:right">{{ rp.score|floatformat:2 }}{% if rp and not rp.gameplayers.exists %}*{% endif %}</td>
        {% endfor %}
        <td style="text-align:right">{{ p_data.score|floatformat:2 }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td/>
      <td/>
      {% for r in rounds %}
        <td>{% if r.is_finished %}{% trans "Final" %}{% endif %}</td>
      {% endfor %}
      <td>{% if tournament.is_finished %}{% trans "Final" %}{% endif %}</td>
    </tr>
  </tbody>
</table>
<p>* - {% trans "did not play" %}</p>
{% endblock %}
