{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }} Scores{% endblocktrans %}{% endblock %}

{% block content %}
{% if tournament.is_finished %}
  <h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% trans "Final Scores" %}</h1>
{% else %}
  <h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% trans "Current Scores" %}</h1>
{% endif %}

<table class="form">
  <thead><tr>
    <th>{% trans "Position" %}</th>
    <th>{% trans "Player" %}</th>
    {% for r in rounds %}
      <th><a href="{% url 'round_detail' tournament.id r.number %}">{% blocktrans with round=r.number %}Round {{ round }}{% endblocktrans %}</a></th>
    {% endfor %}
    <th>{% trans "Tournament" %}</th>
  </tr></thead>
  <tbody>
    {% for p_data in scores %}
      <tr class="{% cycle 'odd_row' 'even_row' %}">
        <td style="text-align:right">{{ p_data.rank|ordinal }}</td>
        <td style="text-align:right"><a href="{{ p_data.player.get_absolute_url }}">{{ p_data.player.player }}</a></td>
        {% for rp in p_data.rounds %}
          <td style="text-align:right">
            {% if not rp.score_is_final %}
              <i>
            {% endif %}
            {% if rp.score_dropped %}
              <del>
            {% endif %}
              {{ rp.score|floatformat:2 }}{% if rp and not rp.gameplayers.exists %}*{% endif %}
            {% if rp.score_dropped %}
              </del>
            {% endif %}
            {% if not rp.score_is_final %}
              </i>
            {% endif %}
          </td>
        {% endfor %}
        <td style="text-align:right">
          {% if not p_data.player.score_is_final %}
            <i>
          {% endif %}
            {{ p_data.score|floatformat:2 }}
          {% if not p_data.player.score_is_final %}
            </i>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    {% if tournament.in_progress %}
      <tr>
        <td/>
        <td/>
        {% for r in rounds %}
	<td>{% if r.is_finished %}{% trans "Final" %}{% elif r.in_progress %}{% trans "Ongoing" %}{% endif %}</td>
        {% endfor %}
        <td/>
      </tr>
    {% endif %}
  </tbody>
</table>
<p>0.0 - {% trans "final score" %}<br>
<i>0.0</i> - {% trans "score if all games ended now" %}<br>
<del>0.0</del> - {% trans "score dropped" %}<br>
* - {% trans "did not play" %}</p>
{% endblock %}
