{% extends "base.html" %}

{% block title %}DipTV - {{ tournament }} Standings{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> Current Standings</h1>

<table class="form">
  <thead><tr>
    <th>Player</th>
    {% for r in rounds %}
      <th><a href="{% url 'round_detail' tournament.id r %}">Round {{ r }}</a></th>
    {% endfor %}
    <th>Final Score</th>
  </tr></thead>
  <tbody>
  {% for player in scores %}
    <tr>
      {% for data in player %}
        <td>{{ data }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
