{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }} Seeder Bias{% endblocktrans %}{% endblock title %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% trans "Seeder Bias" %}</h1>

<h2>{% trans "Existing Bias" %}</h2>
{% if biases.exists %}
  <p>{% trans "These pairs of players will not be seeded on the same board (if possible)" %}</p>
  <form action="{% url 'seeder_bias' tournament.id %}" method="post">
    {% csrf_token %}
    <table class="form">
      <thead><tr>
        <th>{% trans "Player" %}</th>
        <th>{% trans "Player" %}</th>
        {% if tournament.editable %}
          <th></th>
        {% endif %}
      </tr></thead>
      {% for sb in biases %}
        <tr class="{% cycle 'odd_row' 'even_row' %}">
          <td>{{ sb.player1.player }}</td>
          <td>{{ sb.player2.player }}</td>
        {% if tournament.editable %}
          <td>
            <input type="submit" name="delete_{{ sb.pk }}" value="{% trans "Remove"%}" />
          </td>
        {% endif %}
        </tr>
      {% endfor %}
    </table>
  </form>
{% else %}
  <p>{% trans "Game seeder is currently unbiased" %}</p>
{% endif %}

{% if tournament.editable %}
  <h2>{% trans "Add Bias" %}</h2>
  <p>{% trans "Enter a pair of players to keep apart if possible" %}</p>
  <form action="{% url 'seeder_bias' tournament.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="{% trans "Submit"%}" />
  </form>
{% endif %}

{% endblock content %}
