{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }} Registered Players{% endblocktrans %}{% endblock %}

{% block content %}
<h1>{% blocktrans with tournament=tournament %}{{ tournament }} Registered Players{% endblocktrans %}</h1>

{% if user.is_active and tournament.editable and perms.tournament.add_tournamentplayer %}
  <form action="{% url 'tournament_players' tournament.id %}" method="post">
    {% csrf_token %}
    <table class="form">
      <thead><tr>
        <th>{% trans "Player"%}</th>
        <th>{% trans "Email known?"%}</th>
        {% if tournament.powers_assigned_from_prefs %}
          <th>{% trans "Prefs email sent?"%}</th>
          <th></th>
        {% endif %}
      </tr></thead>
      <tbody>
        {% for tp in tournament.tournamentplayer_set.all %}
          <tr class="{% cycle row1 row2 %}">
            <td>{{ tp.player }}</td>
            <td>{% if tp.player.email != "" %}{% trans "Yes"%}{% endif %}</td>
            {% if tournament.powers_assigned_from_prefs %}
                <td>{% if tp.uuid_str != "" %}{% trans "Yes"%}{% endif %}</td>
                <td>{% if tp.player.email != "" %}
                  <input type="submit" name="prefs_{{ tp.pk }}" value="{% trans "Send prefs email"%}" />
                  {% endif %}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% else %}
  <ul>
    {% for tp in tournament.tournamentplayer_set.all %}
      <li>{{ tp.player }}</li>
    {% empty %}
      <li>{% trans "No players yet registered" %}</li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}
