{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }}{% endblocktrans %}{% endblock title %}

{% block content %}
<h1>{{ tournament }}</h1>
<ul>
  {% if tournament.team_size %}
    <li><a href="{% url 'tournament_overview' tournament.id %}">{% trans "Overview" %}</a>{% trans " (cycles between standings, game summary, best country standings, and team scores)" %}</li>
  {% else %}
    <li><a href="{% url 'tournament_overview' tournament.id %}">{% trans "Overview" %}</a>{% trans " (cycles between standings, game summary, and best country standings)" %}</li>
  {% endif %}
  {% if tournament.is_finished %}
    <li><a href="{% url 'tournament_scores' tournament.id %}">{% trans "Final Standings" %}</a></li>
  {% else %}
    <li><a href="{% url 'tournament_scores_refresh' tournament.id %}">{% trans "Current Standings" %}</a></li>
  {% endif %}
  {% if tournament.team_size %}
    <li><a href="{% url 'team_scores_refresh' tournament.id %}">{% trans "Team Scores" %}</a></li>
  {% endif %}
  <li><a href="{% url 'tournament_best_countries_refresh' tournament.id %}">{% trans "Best Countries" %}</a></li>
  <li><a href="{% url 'tournament_game_results_refresh' tournament.id %}">{% trans "Game Summary" %}</a></li>
  {% for round in tournament.round_set.all %}
    <li>{% trans "Round" %} {{ round.number }}</li>
      <p><a href="{% url 'board_call' tournament.id round.number %}">{% trans "Board Call" %}</a></p>
      <p><a href="{% url 'round_sc_graphs' tournament.id round.number %}">{% trans "Cycle through game SC graphs" %}</a></p>
      <ul>
        {% for game in round.game_set.all %}
          <li><a href="{% url 'game_overview' tournament.id game.name %}">{% blocktrans with game=game.name %}Game {{ game }} Overview{% endblocktrans %}</a>{% trans " (cycles between SC chart, SC ownership, SC graph, and latest position)" %}</li>
          <li><a href="{% url 'game_sc_chart_refresh' tournament.id game.name %}">{% blocktrans with game=game.name %}Game {{ game }} Supply Centre Chart{% endblocktrans %}</a></li>
          <li><a href="{% url 'game_sc_owners_refresh' tournament.id game.name %}">{% blocktrans with game=game.name %}Game {{ game }} Supply Centre Ownership{% endblocktrans %}</a>{% trans " (Not all tournaments record this info)" %}</li>
          <li><a href="{% url 'game_sc_graph_refresh' tournament.id game.name %}">{% blocktrans with game=game.name %}Game {{ game }} Supply Centre Graph{% endblocktrans %}</a></li>
          {% if game.gameimage_set.count > 1 %}
            <li><a href="{% url 'current_game_image' tournament.id game.name %}">{% blocktrans with game=game.name %}Game {{ game }} Current Position{% endblocktrans %}</a></li>
          {% endif %}
        {% empty %}
          <li>{% blocktrans with n=round.number %}No games in round {{ n }}.{% endblocktrans %}</li>
        {% endfor %}
       </ul>
    </li>
  {% empty %}
    <li>{% trans "No rounds in tournament." %}</li>
  {% endfor %}
</ul>
{% endblock content %}
