{% extends "base.html" %}

{% block title %}DipTV - {{ tournament }}{%endblock %}

{% block content %}
<h1>{{ tournament }}</h1>
<ul>
  <li><a href="{% url 'tournament_scores_refresh' tournament.id %}">Current Standings</a></li>
  {% for round in tournament.round_set.all %}
    {% for game in round.game_set.all %}
      <li><a href="{% url 'game_sc_chart_refresh' tournament.id game.name %}">Round {{ round.number }} Game {{ game.name }} Supply Centre Chart</a></li>
    {% endfor %}
  {% endfor %}
</ul>
{% endblock %}
