{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }}{% endblocktrans %}{% endblock %}

{% block content %}
<h1>{{ tournament }}</h1>
<ul>
  <li><a href="{% url 'tournament_overview' tournament.id %}">{% trans "Overview (cycles between standings, game summary, and best country standings)" %}</a></li>
  {% if tournament.is_finished %}
    <li><a href="{% url 'tournament_scores' tournament.id %}">{% trans "Final Standings" %}</a></li>
  {% else %}
    <li><a href="{% url 'tournament_scores_refresh' tournament.id %}">{% trans "Current Standings" %}</a></li>
  {% endif %}
  <li><a href="{% url 'tournament_best_countries_refresh' tournament.id %}">{% trans "Best Countries" %}</a></li>
  <li><a href="{% url 'tournament_game_results_refresh' tournament.id %}">{% trans "Game Summary" %}</a></li>
  {% for round in tournament.round_set.all %}
    <li>{% trans "Round" %} {{ round.number }}</li>
      <ul>
        {% for game in round.game_set.all %}
          <li><a href="{% url 'game_overview' tournament.id game.name %}">{% trans "Overview (cycles between SC chart, SC ownership, and latest position)" %}</a></li>
          <li><a href="{% url 'game_sc_chart_refresh' tournament.id game.name %}">{% blocktrans with game=game.name %}Game {{ game }} Supply Centre Chart{% endblocktrans %}</a></li>
          <li><a href="{% url 'game_sc_owners_refresh' tournament.id game.name %}">{% blocktrans with game=game.name %}Game {{ game }} Supply Centre Ownership (Not all tournaments record this info){% endblocktrans %}</a></li>
          {% if game.gameimage_set.count > 1 %}
            <li><a href="{% url 'current_game_image' tournament.id game.name %}">{% blocktrans with game=game.name %}Game {{ game }} Current Position{% endblocktrans %}</a></li>
          {% endif %}
        {% empty %}
          <li>{% blocktrans with n=round.number %}No games in round {{ n }}.{% endblocktrans %}</li>
        {% endfor %}
       </ul>
    </li>
  {% empty %}
    <li>{% trans "No rounds in tournament." %}</li>
  {% endfor %}
</ul>
{% endblock %}
