{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}{% blocktrans with player=player %}DipTV - {{ player }}{% endblocktrans %}{% endblock title %}

{% block content %}
<h1>{{ player }}</h1>
{% if player.picture %}
  <img src="{{ player.picture.url }}" alt="{{ player }}" style="max-width:10%;">
{% endif %}
<br>
{% for country in player.nationalities %}
  <img src="{{ country.flag }}" alt="{{ country.name }}" style="width:32px;">
{% endfor %}
<p>{% trans "WDD Name and Id:" %} {% if player.wdd_player_id %}{% with wdd_name=player.wdd_firstname_lastname %}<a href="{{ player.wdd_url }}">{{ wdd_name.0 }} {{wdd_name.1 }} {{ player.wdd_player_id }}</a>{% endwith %}{% else %} {% trans "None" %} {% endif %}</p>
{% if player.location %}<p>{% trans "Location: " %}{{ player.location }}</p>{% endif %}
<h2>{% trans "Tournaments" %}</h2>
<ul>
  {% for tp in player.tournamentplayers %}
  <li>{% with t=tp.tournament %}<a href="{{ t.get_absolute_url }}">{{ t }}</a> {% if t.is_finished or t.show_current_scores %}{% with pos=tp.position %}{% if pos == t.UNRANKED %}{% trans "Unranked" %}{% else %}{% if not tp.score_is_final %}<i>{% endif %}{{ pos|ordinal }}{% if not tp.score_is_final %}</i>{% endif %}{% endif %}{% endwith %}{% endif %}{% endwith %}</li>
  {% empty %}
    <li>{% trans "No tournaments in the database" %}</li>
  {% endfor %}
</ul>
<p>{% trans "Italics indicate position may change" %}</p>
<h2>{% trans "Background" %}</h2>
<p>{% trans "From the" %} <a href="http://www.world-diplomacy-database.com/">World Diplomacy Database</a></p>
<p>{% blocktrans with datetime=player.background_updated %}Last retrieved {{datetime}}{% endblocktrans %}</p>
<ul>
  {% for b in player.background %}
    <li>{{ b }}</li>
  {% endfor %}
</ul>
{% if perms.tournament.add_playertournamentranking %}
  <form method="post" action={% url 'player_detail' player.pk %}>
    {% csrf_token %}
    <input type="submit" name="update_bg" value="{% trans "Update background" %}" />
  </form>
{% endif %}
<h2>{% trans "Compare With Another Player" %}</h2>
<form method="post" action={% url 'player_detail' player.pk %}>
  {% csrf_token %}
  {{ form }}
  <input type="submit" name="versus" value="{% trans "Submit" %}" />
</form>
<br>
<a href="{% url 'wep7' player.id %}">{% trans "WPE7 Scores" %}</a>
{% endblock content %}
