{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with player=player %}DipTV - {{ player }}{% endblocktrans %}{% endblock %}

{% block content %}
<h1>{{ player }}</h1>
{% if player.picture %}
  <img src="{{ player.picture.url }}" alt="" style="max-width:10%"/>
{% endif %}
<p>{% trans "WDD Id:" %} {% if player.wdd_player_id %}<a href="{{ player.wdd_url }}">{{ player.wdd_player_id }}</a>{% else %} {% trans "None" %} {% endif %}</p>
<ul>
  {% for t in player.tournamentplayer_set.all %}
    <li><a href="{{ t.tournament.get_absolute_url }}">{{ t.tournament }}</a> {{ t.score|floatformat:2 }}</li>
  {% empty %}
    <li>{% trans "No tournaments in the database" %}</li>
  {% endfor %}
</ul>
<h2>{% trans "Background" %}</h2>
<ul>
  {% for b in player.background %}
    <li>{{ b }}</li>
  {% endfor %}
</ul>
{% endblock %}
