{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}{% blocktrans with player=player %}DipTV - {{ player }}{% endblocktrans %}{% endblock %}

{% block content %}
<h1>{{ player }}</h1>
{% if player.picture %}
  <img src="{{ player.picture.url }}" alt="" style="max-width:10%;">
{% endif %}
<p>{% trans "WDD Name and Id:" %} {% if player.wdd_player_id %}<a href="{{ player.wdd_url }}">{{ player.wdd_name }} {{ player.wdd_player_id }}</a>{% else %} {% trans "None" %} {% endif %}</p>
{% if player.location %}<p>{% trans "Location: " %}{{ player.location }}</p>{% endif %}
<h2>{% trans "Tournaments" %}</h2>
<ul>
  {% for t in player.tournamentplayers %}
  <li><a href="{{ t.tournament.get_absolute_url }}">{{ t.tournament }}</a> {% if t.position == t.tournament.UNRANKED %}{% trans "Unranked" %}{% else %}{{ t.position|ordinal }}{% endif %}</li>
  {% empty %}
    <li>{% trans "No tournaments in the database" %}</li>
  {% endfor %}
</ul>
<h2>{% trans "Background" %}</h2>
<p>{% trans "From the" %} <a href="http://www.world-diplomacy-database.com/">World Diplomacy Database</a></p>
<ul>
  {% for b in player.background %}
    <li>{{ b }}</li>
  {% endfor %}
</ul>
{% if perms.tournament.add_playertournamentranking %}
  <form method="post" action={% url 'player_detail' player.pk %}>
    {% csrf_token %}
    <input type="submit" value="{% trans "Update background" %}" />
  </form>
{% endif %}
<br>
<a href="{% url 'wep7' player.id %}">{% trans "WPE7 Scores" %}</a>
{% endblock %}
