{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "DipTV - Player Index" %}{% endblock %}

{% block content %}
<h1>{% trans "Player Index" %}</h1>
{% if player_list %}
    <ul>
    {% for p in player_list %}
        <li><a href="{{ p.get_absolute_url }}">{{ p }}</a> [{% if p.wdd_player_id %}<a href="{{ p.wdd_url }}">{% blocktrans with name=p.wdd_name %}{{ name }} in WDD{% endblocktrans %}</a>{% else %} {% trans "Not in WDD" %} {% endif %}]</li>
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans "No players exist in the database." %}</p>
{% endif %}

<div class="pagination">
  <span class="setp-links">
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; {% trans "first" %}</a>
      <a href="?page={{page_obj.previous_page_number}}">{% trans "previous" %}</a>
    {% endif %}

    <span class="current">
      {% blocktrans with current=page_obj.number total=page_obj.paginator.num_pages %}Page {{ current }} of {{ total }}{% endblocktrans %}
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}">{% trans "next" %}</a>
      <a href="?page={{page_obj.paginator.num_pages}}">{% trans "last" %} &raquo;</a>
    {% endif %}
  </span>
</div>

{% if user.is_active %}
  {% if perms.tournament.add_player %}
    <ul>
      <li><a href="{% url 'admin:tournament_player_add' %}">{% trans "Add a single player" %}</a></li>
      <li><a href="{% url 'upload_players' %}">{% trans "Upload CSV file of players" %}</a></li>
    </ul>
  {% endif %}
{% endif %}

{% endblock %}
