{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament round=round.number %}DipTV - {{ tournament }} Round {{ round }} Board Call By Player{% endblocktrans %}{% endblock title %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% blocktrans with round=round.number %}Round {{ round }} Board Call By Player{% endblocktrans %}</h1>

<dl>
  {% for rp in round.roundplayer_set.all %}
    {% if rp.gameplayers.exists %}
      <dt>{{ rp.player }}</dt>
      {% for gp in rp.gameplayers.all %}
        <dd>{% blocktrans with game=gp.game.name power=gp.power %}{{ power }} in game {{ game }}{% endblocktrans %}</dd>
      {% endfor %}
    {% endif %}
  {% endfor %}
</dl>

{% endblock content %}
