{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament round=round.number %}DipTV - {{ tournament }} Round {{ round }} Board Call{% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% blocktrans with round=round.number %}Round {{ round }} Board Call{% endblocktrans %}</h1>

<dl>
  {% for g in round.game_set.all %}
    <dt><a href="{{ g.get_absolute_url }}">{{ g.name}}</a></dt>
    <dd>
      <table>
        <thead><tr>
          {% for gp in g.gameplayer_set.all %}
            <th>{{ gp.power }}</th>
          {% endfor %}
        </tr></thead>
        <tbody><tr>
          {% for gp in g.gameplayer_set.all %}
            <td>{{ gp.player }}{% if tournament.is_virtual %}<br/>({{ gp.player.backstabbr_username }}){% endif %}</td>
          {% endfor %}
        </tr></tbody>
      </table>
    </dd>
  {% endfor %}
</dl>

{% endblock %}
