{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament round=round.number %}DipTV - {{ tournament }} Round {{ round }} Views{% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% blocktrans with round=round.number %}Round {{ round }} Views{% endblocktrans %}</h1>
<p>{% trans "Views:" %}</p>
<ul>
  <li><a href="{% url 'game_index' tournament.id round.id %}">{% trans "Game Index" %}</a></li>
</ul>
{% if user.is_active %}
<p>{% trans "Data Entry:" %}</p>
<ul>
  <li><a href="{% url 'create_games' tournament.id round.id %}">{% trans "Create Games" %}</a></li>
  <li><a href="{% url 'game_scores' tournament.id round.id %}">{% trans "Score Games" %}</a></li>
</ul>
{% endif %}
{% if round.final_year %}
  <p>{% blocktrans with year=round.final_year %}Games in this round end with {{ year }}.{% endblocktrans %}</p>
{% elif round.earliest_end_time %}
  <p>{% blocktrans with start=round.earliest_end_time end=round.latest_end_time %}Games in this round will end between {{ start }} and {{ end }}.{% endblocktrans %}</p>
{% else %}
  <p>{% trans "Games in this round have no set endpoint." %}</p>
{% endif %}
{% endblock %}
