{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament round=round.number %}DipTV - {{ tournament }} Round {{ round }} Views{% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% blocktrans with round=round.number %}Round {{ round }} Views{% endblocktrans %}</h1>

<p>{% trans "Start time:" %} {{ round.start }}</p>

<p>{% trans "Scoring system:" %} {{ round.scoring_system }}</p>

<p>{% if round.dias %}{% trans "All surviving players are included if a game ends in a draw." %}
   {% else %}{% trans "Surviving players may vote themselves out of draws." %}
   {% endif %}</p>

{% if round.final_year %}
  <p>{% blocktrans with year=round.final_year %}Games in this round end with {{ year }}.{% endblocktrans %}</p>
{% elif round.earliest_end_time %}
  <p>{% blocktrans with start=round.earliest_end_time end=round.latest_end_time %}Games in this round will end between {{ start }} and {{ end }}.{% endblocktrans %}</p>
{% else %}
  <p>{% trans "Games in this round have no set endpoint." %}</p>
{% endif %}

<p>{{ round.roundplayer_set.count }}{% trans " players present." %}</p>

<p>{% blocktrans with count=round.game_set.count %}{{ count }} Games{% endblocktrans %}</p>

<p>{% trans "Views:" %}</p>
<ul>
  <li><a href="{% url 'game_index' tournament.id round.number %}">{% trans "Game Index" %}</a></li>
</ul>

{% if user.is_active %}
<p>{% trans "Data Entry:" %}</p>
<ul>
  {% if perms.tournament.create_game %}
    <li><a href="{% url 'create_games' tournament.id round.number %}">{% trans "Create Games" %}</a> - {% trans "Use this to create the games for this round, to assign players to games, and to assign great powers to players." %}</li>
  {% endif %}
  {% if perms.tournament.change_game %}
    <li><a href="{% url 'game_scores' tournament.id round.number %}">{% trans "Score Games" %}</a> - {% trans "Use this if you need to override the scores calculated by the system." %}</li>
  {% endif %}
</ul>
{% endif %}
{% endblock %}
