{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament round=round.number %}DipTV - {{ tournament }} Round {{ round }} Game Seeding {% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> <a href="{{ round.get_absolute_url }}">{% blocktrans with round=round.number %}Round {{ round }}{% endblocktrans %}</a> {% trans "Game Seeding" %}</h1>

<form method="post" action={% url 'get_seven' tournament.id round.number %}>
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% if sitters == 0 and doubles == 7 %}
    <p>{% blocktrans with n_players=count %}With {{ n_players }} players, you don't need anyone to sit out or play two boards.{% endblocktrans %}</p>
  {% else %}
    <p>{% blocktrans with n_players=count count sitters=sitters %}With {{ n_players }} players, you need <b>either</b> 1 player to sit out the round,{% plural %}With {{ n_players }} players, you need <b>either</b> {{ sitters }} players to sit out the round,{% endblocktrans %}</p>
    <p>{% blocktrans count doubles=doubles %}<b>or</b> 1 player to play in two games.{% plural %}<b>or</b> {{ doubles }} players to each play in two games.{% endblocktrans %}</p>
    {% for field in form %}
      <p>{{ field.errors }}
      {{ field.label_tag }}
      {{ field }}</p>
    {% endfor %}
  {% endif %}
  <input type="submit" value="{% trans "Seed Games" %}" />
</form>
<p><a href="{% url 'round_roll_call' tournament.id round.number %}">{% trans "Back to roll call" %}</a></p>
{% endblock %}
