{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament round=round.number %}DipTV - {{ tournament }} Round {{ round }} Game Seeding {% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> <a href="{{ round.get_absolute_url }}">{% blocktrans with round=round.number %}Round {{ round }}{% endblocktrans %}</a> {% trans "Game Seeding" %}</h1>

<form method="post" action={% url 'get_seven' tournament.id round.number %}>
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% if sitters == 0 and doubles == 0 and standbys == 0 %}
    <p>{% blocktrans with n_players=playing %}With {{ n_players }} players wanting to play, you don't need anyone to sit out or play two boards.{% endblocktrans %}</p>
  {% elif doubles == 0 %}
    <p>{% blocktrans count n_players=standbys %}You need one standby player to play,{% plural %}You need {{ n_players }} standby players to play.{% endblocktrans %}
    {% for field in form %}
      <p>{{ field.errors }}
      {{ field.label_tag }}
      {{ field }}</p>
    {% endfor %}
  {% else %}
    <p>{% blocktrans with standbys=standbys count n_players=doubles %}You need <b>either</b> all your {{ standbys }} standby players to play and one player to play two boards, {% plural %}You need <b>either</b> all your {{ standbys }} standby players to play and {{ n_players}} players to play two boards each, {%endblocktrans %}{% blocktrans count n_players=sitters %}<b>or</b> one player to sit out the round.{% plural %}<b>or</b> {{ n_players }} players to sit out the round.{%endblocktrans %}</p>
    {% for field in form %}
      <p>{{ field.errors }}
      {{ field.label_tag }}
      {{ field }}</p>
    {% endfor %}
  {% endif %}
  <input type="submit" value="{% trans "Seed Games" %}" />
</form>
<p><a href="{% url 'round_roll_call' tournament.id round.number %}">{% trans "Back to roll call" %}</a></p>
{% endblock %}
