{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }} Round Index{% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a></h1>
{% if round_list %}
    <dl>
    {% for r in round_list %}
        <dt><a href="{{ r.get_absolute_url }}">{% blocktrans with round=r.number %}Round {{ round }}{% endblocktrans %}</a></dt>
          <dd>{% trans "Start" %} {{ r.start }}</dd>
          <dd>{% blocktrans with count=r.game_set.count %}{{ count }} Games{% endblocktrans %}</dd>
            {% if r.is_finished %}
                <dd>{% trans "Completed" %}</dd>
            {% endif %}
        </li>
    {% endfor %}
    </dl>
{% else %}
    <p>{% trans "No rounds exist in the tournament." %}</p>
{% endif %}
{% endblock %}
