{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }} Round Index{% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a></h1>
{% if round_list %}
    <ul>
    {% for r in round_list %}
        <li><a href="{{ r.get_absolute_url }}">{% blocktrans with round=r.number %}Round {{ round }}{% endblocktrans %}</a> {% trans "Start" %} {{ r.start }}
            {% if r.is_finished %}
                {% trans "(Complete)" %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans "No rounds exist in the tournament." %}</p>
{% endif %}
{% endblock %}
