{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament round=round.number %}DipTV - {{ tournament }} Round {{ round }} Pool population {% endblocktrans %}{% endblock title %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> <a href="{{ round.get_absolute_url }}">{% blocktrans with round=round.number %}Round {{ round }}{% endblocktrans %}</a> {% trans "Pool population" %}</h1>

<form method="post" action={% url 'populate_pools' tournament.id round.number %}>
  {% csrf_token %}
  <p>{% blocktrans with pool_name=pool.name %}Select the players for the {{ pool_name }} pool{% endblocktrans %}:</p>
  {{ form }}
  <input type="submit" value="{% trans "Submit" %}" />
</form>
<p><a href="{% url 'round_roll_call' tournament.id round.number %}">{% trans "Back to roll call" %}</a></p>
{% endblock content %}
