{% extends "base.html" %}
{% load i18n %}
{% load admin_urls %}

{% block title %}{% blocktrans with tournament=tournament round=round.number %}DipTV - {{ tournament }} Round {{ round }} Roll Call {% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> <a href="{{ round.get_absolute_url }}">{% blocktrans with round=round.number %}Round {{ round }}{% endblocktrans %}</a> {% trans "Roll Call" %}</h1>

<p>{% blocktrans with warning=warning %}<b>Warning!</b> {{ warning }}{% endblocktrans %}</p>

<form method="post" action={{ post_url }}>
    <h2>{% trans "Players checked in" %}</h2>
    <p>{% trans "If a player doesn't appear in the dropdown, you'll first have to add them to the database, which you can do from" %} <a href="{% url 'admin:tournament_player_add' %}">{% trans "this page" %}</a>.</p>
    {% include "formset_table.html" %}
</form>
{% endblock %}
