{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament game=game.name %}DipTV - {{ tournament }} Game {{ game }} Views{% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% blocktrans with game=game.name %}Game {{ game }} Views{% endblocktrans %}</h1>

{% if game.is_top_board %}<p>{% trans "Top Board for the tournament" %}</p>
{% endif %}

<p>{% with result=game.result_str %}{% if result %}{{ result }}.
   {% else %}{% trans "Game is ongoing." %}
   {% endif %}{% endwith %}</p><p>{% blocktrans with year=game.final_year %}Last year played is {{year}}.{% endblocktrans %}</p>

{% if tournament.show_game_urls and game.external_url %}<p>{{ game.external_url|urlize }}</p>{% endif %}

{% if game.notes %}<p>{{ game.notes }}</p>{% endif %}

<dl>
  {% for gp in game.gameplayer_set.all %}
    <dt>{% if gp.power %}{{ gp.power }}{% else %}{% trans "Power not yet assigned" %}{% endif %}</dt>
    <dd><a href="{{ gp.tournamentplayer.get_absolute_url }}">{{ gp.player }}</a>{% if tournament.is_virtual %} ( {% if gp.player.backstabbr_profile_url %}<a href="{{ gp.player.backstabbr_profile_url }}">{{ gp.player.backstabbr_username }}</a>{% else %}{{ gp.player.backstabbr_username }}{% endif %} ){% endif %}</dd>
    <dd>{{ gp.result_str }}</dd>
    {% if game.is_finished %}
      <dd>{{ gp.score|floatformat:2 }} {% trans "points" %}</dd>
      <dd>{% if gp.is_best_country %}{% blocktrans with power=gp.power %}Best {{ power}}{% endblocktrans %}{% endif %}</dd>
    {% elif gp.power %}
      <dd>{% blocktrans with dots=gp.final_sc_count %}{{ dots }} centres{% endblocktrans %}</dd>
      <dd>{% if gp.is_best_country %}{% blocktrans with power=gp.power %}Currently best {{ power}}{% endblocktrans %}{% endif %}</dd>
    {% endif %}
    {% if gp.after_action_report %}
      <dd><a href="{{ gp.get_aar_url }}">{% trans "After Action Report" %}</a></dd>
    {% endif %}
  {% endfor %}
</dl>

<p>{% trans "Start time:" %} {{ game.started_at }}</p>
{% if not tournament.is_virtual %}
  <p>{% blocktrans with set=game.the_set %}Played with the {{ set }} set.{% endblocktrans %}</p>
{% endif %}

<dl>
  {% for d in game.drawproposal_set.all %}
  <dt>{% blocktrans with season=d.season year=d.year power=d.drawing_powers.first count size=d.draw_size %}Concession to {{ power }} proposed {{ season }} {{ year }}{% plural %}{{ size }}-way draw proposed {{ season }} {{ year }}{% endblocktrans %}</dt>
    {% if d.proposer %}<dd>{% blocktrans with proposer=d.proposer %}Proposed by {{ proposer }}{% endblocktrans %}</dd>{% endif %}
    {% if d.votes_in_favour %}<dd>{% blocktrans with votes=d.votes_in_favour %}{{ votes }} votes in favour{% endblocktrans %}</dd>{% endif %}
  {% empty %}
    <dt>{% trans "No draw votes" %}</dt>
  {% endfor %}
</dl>

<p>{% trans "Views:" %}</p>
<ul>
  <li><a href="{% url 'game_sc_chart' tournament.id game.name %}">{% trans "Supply Centre Chart" %}</a></li>
  {% if game.supplycentreownership_set.count > 22 %}
    <li><a href="{% url 'game_sc_owners' tournament.id game.name %}">{% trans "Supply Centre Ownership" %}</a></li>
  {% endif %}
  <li><a href="{% url 'game_sc_graph' tournament.id game.name %}">{% trans "Supply Centre Graph" %}</a></li>
  {% if game.gameimage_set.count > 1 %}
    <li><a href="{% url 'current_game_image' tournament.id game.name %}">{% trans "Latest Position" %}</a></li>
  {% endif %}
  <li><a href="{% url 'game_news' tournament.id game.name %}">{% trans "News" %}</a></li>
  {% if game.gameimage_set.count > 1 %}
    <li><a href="{% url 'game_timelapse' tournament.id game.name %}">{% trans "Position Timelapse" %}</a></li>
  {% endif %}
  <li><a href="{% url 'game_background' tournament.id game.name %}">{% trans "Background" %}</a></li>
</ul>
{% if user.is_active and tournament.editable %}
<p>{% trans "Data Entry:" %}</p>
<ul>
  {% if perms.tournament.add_centrecount %}
    <li><a href="{% url 'enter_scs' tournament.id game.name %}">{% trans "Enter SC Counts" %}</a> - {% trans "Use this to update the supply centre chart for the game or to flag the game as ended" %}</li>
  {% endif %}
  {% if perms.tournament.add_supplycentreownership %}
    <li><a href="{% url 'enter_sc_owners' tournament.id game.name %}">{% trans "Enter SC Ownership" %}</a> - {% trans "Use this to update the supply centre ownership for the game." %}</li>
  {% endif %}
  {% if perms.tournament.add_centrecount %}
    {% if game.external_url %}
      <li><a href="{% url 'scrape_external_site' tournament.id game.name %}">{% trans "Import SC Counts from Backstabbr" %}</a> - {% trans "Use this to update the supply centre chart from a game on Backstabbr." %}</li>
    {% endif %}
  {% endif %}
  {% if perms.tournament.add_gameimage %}
    <li><a href="{% url 'add_game_image' tournament.id game.name %}">{% trans "Upload Game Image" %}</a> - {% trans "Use this to add a picture of the game in progress." %}</li>
  {% endif %}
  {% if perms.tournament.add_drawvote %}
    <li><a href="{% url 'draw_vote' tournament.id game.name %}">{% trans "Enter Draw Vote" %}</a> - {% trans "Use this to record draw votes, whether they succeed or fail." %}</li>
    <li><a href="{% url 'concession' tournament.id game.name %}">{% trans "Enter Concession Vote" %}</a> - {% trans "Use this to record concession votes, whether they succeed or fail." %}</li>
  {% endif %}
  {% if perms.tournament.change_game %}
    <li><a href="{% url 'create_games' tournament.id game.the_round.number %}">{% trans "Modify Game" %}</a> - {% trans "Use this to change the players assigned to games (e.g. to replace a player) or the great power assignments." %}</li>
  {% endif %}
</ul>
{% endif %}
{% endblock %}
