{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament game=game.name %}DipTV - {{ tournament }} Game {{ game }} Views{% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% blocktrans with game=game.name %}Game {{ game }} Views{% endblocktrans %}</h1>

{% if game.is_top_board %}<p>{% trans "Top Board for the tournament" %}</p>
{% endif %}
<p>{% with result=game.result_str %}{% if result %}{{ result }}.
   {% else %}{% trans "Game is ongoing." %}
   {% endif %}{% endwith %}</p>

<p>{% trans "Start time:" %} {{ game.started_at }}</p>

<p>{% blocktrans with year=game.final_year %}Last year played is {{year}}.{% endblocktrans %}</p>

<p>{% blocktrans with set=game.the_set %}Played with the {{ set }} set.{% endblocktrans %}</p>

<p>{% trans "Views:" %}</p>
<ul>
  <li><a href="{% url 'game_sc_chart' tournament.id game.name %}">{% trans "Supply Centre Chart" %}</a></li>
  <li><a href="{% url 'game_sc_owners' tournament.id game.name %}">{% trans "Supply Centre Ownership" %}</a></li>
  <li><a href="{% url 'current_game_image' tournament.id game.name %}">{% trans "Latest Position" %}</a></li>
  <li><a href="{% url 'game_news' tournament.id game.name %}">{% trans "News" %}</a></li>
  {% if game.gameimage_set.count > 1 %}
    <li><a href="{% url 'game_timelapse' tournament.id game.name %}">{% trans "Position Timelapse" %}</a></li>
  {% endif %}
  <li><a href="{% url 'game_background' tournament.id game.name %}">{% trans "Background" %}</a></li>
</ul>
{% if user.is_active %}
<p>{% trans "Data Entry:" %}</p>
<ul>
  {% if perms.tournament.add_centrecount %}
    <li><a href="{% url 'enter_scs' tournament.id game.name %}">{% trans "Enter SC Counts" %}</a> - {% trans "Use this to update the supply centre chart for the game." %}</li>
  {% endif %}
  {% if perms.tournament.add_supplycentreownership %}
    <li><a href="{% url 'enter_sc_owners' tournament.id game.name %}">{% trans "Enter SC Ownership" %}</a> - {% trans "Use this to update the supply centre ownership for the game." %}</li>
  {% endif %}
  {% if perms.tournament.add_gameimage %}
    <li><a href="{% url 'add_game_image' tournament.id game.name %}">{% trans "Upload Game Image" %}</a> - {% trans "Use this to add a picture of the game in progress." %}</li>
  {% endif %}
  {% if perms.tournament.add_drawvote %}
    <li><a href="{% url 'draw_vote' tournament.id game.name %}">{% trans "Enter Draw Vote" %}</a> - {% trans "Use this to record draw votes, whether they succeed or fail." %}</li>
  {% endif %}
</ul>
{% endif %}
{% endblock %}
