{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with round=round %}DipTV - {{ round }}{% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ round.tournament.get_absolute_url }}">{{ round.tournament }}</a> <a href="{{ round.get_absolute_url }}">{% blocktrans with n=round.number %}Round {{ n }}{% endblocktrans %}</a></h1>
{% if game_list %}
    <ul>
    {% for g in game_list %}
        <li><a href="{{ g.get_absolute_url }}">{% blocktrans with game=g.name %}Game {{ game }}{% endblocktrans %}</a>
            {% if g.is_finished %}
                {% trans "(Complete)" %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans "No games exist in the round." %}</p>
{% endif %}
{% endblock %}
