{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% if concession %}
  {% blocktrans with game=game %}DipTV - Game {{ game }} Concession Vote{% endblocktrans %}
{% else %}
  {% blocktrans with game=game %}DipTV - Game {{ game }} Draw Vote{% endblocktrans %}
{% endif %}
{% endblock title %}

{% block content %}
{% if concession %}
  <h1>{% blocktrans with game=game %}Game {{ game }} Concession Vote{% endblocktrans %}</h1>
{% else %}
  <h1>{% blocktrans with game=game %}Game {{ game }} Draw Vote{% endblocktrans %}</h1>
{% endif %}
<p>{% blocktrans with year=game.final_year player_count=player_count %}After {{ year }}, there were {{ player_count }} powers still alive{% endblocktrans %}</p>
{% if concession %}
  <form action={% url 'concession' tournament.id game.name %} method="post">
{% else %}
  <form action={% url 'draw_vote' tournament.id game.name %} method="post">
{% endif %}
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    {{ field.errors }}
    {{ field.label_tag }} {{ field }}
  {% endfor %}
  <input type="submit" value="{% trans "Submit" %}" />
</form>
{% endblock content %}
