{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with series=series %}DipTV - Tournament Series {{ series }}{% endblocktrans %}{% endblock %}

{% block content %}
<h1>{% blocktrans with series=series %}Tournament Series {{ series }}{% endblocktrans %}</h1>
{% if tournaments %}
  <table class="form">
    <thead><tr>
      <th>{% trans "Player" %}</th>
      {% for t in tournaments %}
        <th><a href="{{t.get_absolute_url}}">{{ t }}</a></th>
      {% endfor %}
    </tr></thead>
    <tbody>
      {% for p in players %}
        <tr>
          <th><a href="{{p.get_absolute_url}}">{{ p }}</a></th>
          {% for t in tournaments %}
            <td>
              {% for tp in tplayers %}
	        {% if tp.player == p %}
	          {% if tp.tournament == t %}
                    {% trans "Y" %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            </td>
          {% endfor %}
	</tr>
      {% endfor %}
      <tr>
        <th>{% trans "Total" %}</th>
        {% for t in tournaments %}
          <td>{{ t.tournamentplayer_set.count }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% else %}
    <p>{% trans "No tournaments in the series." %}</p>
{% endif %}
{% endblock %}
