{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tp=player %}DipTV - {{ tp }}{% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {{ player.player }}</h1>

{% if tournament.location %}<p>{% trans "Location: " %}{{ tournament.location }}</p>{% endif %}
{% if player.unranked %}<p>{% trans "Ineligible for awards." %}</p>{% endif %}

<ul>
  {% for rp in player.roundplayers.all %}
    <li>{% blocktrans with r=rp.the_round.number %}Round {{ r }}{% endblocktrans %}</li>
    <ul>
      {% for gp in rp.gameplayers.all %}
        <li>{{ gp.result_str|safe }}</li>
      {% empty %}
        <li>{% trans "Did not play." %}</li>
      {% endfor %}
    </ul>
  {% empty %}
    <li>{% if tournament.is_finished %}{% trans "Did not play." %}{% else %}{% trans "Has not yet played." %}{% endif %}</li>
  {% endfor %}
</ul>

<p><a href="{{player.player.get_absolute_url }}">{% trans "Player Background" %}</a></p>
{% endblock %}
