{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tp=player %}DipTV - {{ tp }}{% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {{ player.player }}</h1>

<p>{% blocktrans with pos=player.position %}Position: {{ pos }}{% endblocktrans %}</p>
{% if player.unranked %}
  <p>{% trans "Ineligible for awards." %}</p>
{% else %}
  <h2>{% trans "Awards" %}</h2>
  <ul>
    {% for award in player.awards.all %}
      <li>{{ award.name }}</li>
    {% empty %}
      <li>{% trans "None" %}</li>
    {% endfor %}
  </ul>
{% endif %}

<h2>{% trans "Games Played" %}</h2>
<ul>
  {% for rp in player.roundplayers.all %}
    <li>{% blocktrans with r=rp.the_round.number %}Round {{ r }}{% endblocktrans %}</li>
    <ul>
      {% for gp in rp.gameplayers.all %}
        {% if gp.power %}
	  <li>
            {{ gp.result_str_long|safe }}
            {% if gp.is_best_country %}
              {% if tournament.is_finished %}
                {% blocktrans with power=gp.power%}(Best {{ power }}){% endblocktrans %}
              {% else %}
                {% blocktrans with power=gp.power%}(Currently best {{ power }}){% endblocktrans %}
              {% endif %}
            {% endif %}
          </li>
        {% else %}
          <li>
            {% blocktrans with game=gp.game.name url=gp.game.get_absolute_url %}Power not yet assigned in <a href="{{ url }}">{{ game }}</a>{% endblocktrans %}
          </li>
        {% endif %}
      {% empty %}
        <li>{% trans "Did not play." %}</li>
      {% endfor %}
    </ul>
  {% empty %}
    <li>
      {% if tournament.is_finished %}
        {% trans "Did not play." %}
      {% else %}
        {% trans "Has not yet played." %}
      {% endif %}
    </li>
  {% endfor %}
</ul>

<p><a href="{{player.player.get_absolute_url }}">{% trans "Player Background" %}</a></p>
{% endblock %}
