{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with tournament=tournament %}DipTV - {{ tournament }} Registered Players{% endblocktrans %}{% endblock %}

{% block content %}
<h1><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a> {% trans "Registered Players" %}</h1>

<ul>
  {% for tp in tournament.tournamentplayer_set.all %}
    <li>
      <a href="{% if tournament.current_round.game_set.exists %}{{ tp.get_absolute_url }}{% else %}{{ tp.player.get_absolute_url }}{% endif %}">{{ tp.player }}</a>{% for country in tp.player.nationalities %} <img src="{{ country.flag }}" alt="{{ country.name }}">{% endfor %}{% if tp.location %} ({{ tp.location }}){% endif %}{% if tp.unranked %} {% trans "(Ineligible for awards)" %}{% endif %}
    </li>
  {% empty %}
    <li>{% trans "No players yet registered" %}</li>
  {% endfor %}
</ul>

{% endblock %}
